.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .sliderimage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 50vw;
    object-fit: contain;
  }
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 48em) {
  .slider {
    height: 40vh;
  }

  .left-arrow {
    font-size: 1.5rem;
  }

  .right-arrow {
    font-size: 1.5rem;
  }
}
